<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Modelrockets - Components</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/modelrockets.css">

    <script src="../js/modelrockets.js"></script>
    <script>
      setContentMarginTop();
    </script>
  </head>
  <body onresize="javascript:setContentMarginTop()">
    <section id="nav">
        <!-- Navigationbar !-->
        <nav id="navbar" class="w3-bar w3-black w3-card-4">
          <div class="container">
            <a href=".." class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-text-yellow">Modelrockets</a>

            <a href="../plansforwebsite" class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right">Change Logs</a>
            <a href="../quiz" class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right">Quiz</a>
            <a href="../fuel" class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right">Manual for Rocketfuel</a>
            <a href="#navbar" class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right w3-yellow">Components of Modelrocket</a>
            <a href=".." class="w3-bar-item w3-button w3-mobile w3-hover-yellow w3-right">Introduction</a>
          </div>
        </nav>
        <!-- Navbar ende -->

        <div class="w3-yellow w3-card-4 heading">
          <h1 id="heading">Components of a modelrocket</h1>
        </div>
    </section>

    <section id="content">

      <section class="w3-black">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <img class="imgRight" src="img/rocket_engine.png" alt="Bild von einem Raketenmotor">
            </div>

            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h2 class="display-4">Rocket Engine</h2>
                <br>
                <p>
                  The Rocket engine is one of the most important part of a rocket!
                  It provides it with its upward thrust in a ratio of 1:5, that means 5 times the strength of the earth's gravitational acceleration.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
              <img class="imgLeft" src="img/rocket_case.png" alt="Gehäuse von Modellrakete">
            </div>
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <h2 class="display-4">Case</h2>
                <br>
                <p>
                  The case not only provides the rocket structual stability, it also makes it easier to organize the interior of the rocket.
                  You can build for each part of the rocket it's own compartent for e.g. the boardcomputer and the payload section.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="w3-black">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <img class="imgRight" src="img/rocket_fins.png" alt="Fins">

            </div>

            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h2 class="display-4">Fins</h2>
                <br>
                <p>
                  The Fins are ment to privide extra stability and prevent it from turning away from the flight direction.
                  Nowadays fins are not always the way to go anymore, at least for real rockets.
                  The reason for this is that although fins do work just fine, the concept is pretty old and
                  today it is possible to make small adjustments during flight using the exhaust. This is called vectoring.
                  SpaceX's Falcon 9 is a good example for a rocket without fins.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
              <img class="imgLeft" src="img/rocket_parachute.png" alt="Parachute">
            </div>

            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <h2 class="display-4">Parachute</h2>
                <br>
                <p>
                  The parachute gives the rocket the ability to fall safely to earth.
                  It's made out of a special fabric for parachutes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="w3-black">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <img class="imgRight" src="img/rocket_computer.png" alt="Rocket Boardcomputer">
            </div>

            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h2 class="display-4">Boardcomputer</h2>
                <br>
                <p>
                  The boardcomputer collects all the data and is responsible for starting and controlling the rocket inflight.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
              <img src="img/rocket_payload.PNG" alt="Payloadsection">
            </div>

            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <h2 class="display-4">Payload section</h2>
                <br>
                <p>
                  The payload section, most of the time, is the top end of a rocket and is designed with aerodynamics in mind.
                  Of course, it's made to transport cargo. Therefore it has plenty of space on the inside for satellites or
                  other possible cargo.
                  For modelrockets cargo is not that usual because the lighter the rocket the easier it is to launch.
                </p>
              </div>
            </div>
          </div>
        </div>
        </section>

    </section>
  </body>
</html>
